<div>
  <h2>Consulta de Secciones</h2>

  <input [formControl]="searchSectionControl" placeholder="Escribe para buscar..." />



  <div style="margin-top: 1rem;">
    <div
      *ngFor="let item of results()"
      style="border: 1px solid #ccc; padding: 1rem; margin-bottom: 0.5rem; border-radius: 8px; display: flex; justify-content: space-between; align-items: flex-start;"
    >
      <div>
        <strong>{{ item.name }}</strong><br />
        <small>{{ item.description }}</small>
      </div>
      <div style="display: flex; gap: 0.5rem;">
    
        <button class="tech-btn" (click)="agregar(item)">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
