<!-- <button class="cerrar" (click)="cerrar()">Cerrar</button> only view in mobile -->

<div class="container">
  <!-- Consultar Formulario -->
  <div *ngIf="isConsultFormVisible()" class="state-container">
    <form-consult></form-consult>
    <button class="tech-btn" (click)="openCreate()">Crear nuevo formulario</button>
  </div>

  <!-- Crear Formulario -->
  <div *ngIf="isCreateFormVisible()" class="state-container">
    <form-create></form-create>
    <button class="tech-btn" (click)="closeCreateForm()">Cerrar</button>
  </div>


  <!-- Editar Formulario -->
  <div *ngIf="isEditFormVisible()" class="state-container">
    <button class="tech-btn" (click)="closeCreateForm()">Cerrar</button>
    <form-edit></form-edit>
    <button class="tech-btn" (click)="createSection()">Crear Nueva Sección</button>
    <section-consult></section-consult>
  </div>


  
</div>







