<!-- <button class="cerrar" (click)="cerrar()">Cerrar</button> only view in mobile -->

<div class="container">
  <!-- Consultar Formulario -->
  <div *ngIf="isConsultFormVisible()" class="state-container">
    <form-consult></form-consult>
    <button class="tech-btn" (click)="openCreate()">Crear nuevo formulario</button>
  </div>

  <!-- Crear Formulario -->
  <div *ngIf="isCreateFormVisible()" class="state-container">
    <div class="close-btn-container">
      <button class="close-btn" (click)="closeCreateForm()">
        <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>
    <form-create></form-create>
  </div>

  <!-- Editar Formulario -->
  <div *ngIf="isEditFormVisible()" class="state-container">
    <button class="close-btn" (click)="closeCreateForm()">
      <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    <form-edit></form-edit>
    
    <button class="tech-btn" (click)="createSection()">Agregar Nueva Sección al Formulario</button>
  </div>
</div>


