<p>Hola, Me llamo Laydi Viviana Bautista Rengifo, debo reconocer que puede ser un poco inusual que alguien se presente con su nombre completo, pero una vez escuche que siempre es bueno presentarse con todo y apellidos para honrar tu herencia de padre y tu linaje de madre… por lo general me presento como Viviana, pero para efectos prácticos me puedes decir Vivi. 

    Bueno, queria comenzar con una da de las preguntas que más me incomoda, No sé si a ustedes les pasa, pero es la típica pregunta cuando a penas conoces a alguien y es ¿tu quien eres? … cada vez que me preguntan eso no puedo evitar pensar en el meme de Carl Sagan y responder “Soy polvo de estrellas”… Pero bueno, la verdad es que debo reconocer que tengo una personalidad existencialista, y por lo general mis temas de conversación giran alrededor de preguntas sobre el ser… o no ser.
    
    A veces creo que la vida en sí misma es un viaje de descubrimiento, de aprendizaje y de construir lo que seremos. A veces creo que el hecho de estar aquí, en este planeta, en esta ciudad, en esta familia es porque tenemos misión… y es responder a esa pregunta ¿Quién soy?
    
    Actualmente tengo 26 años, se podría decir que soy muy joven como para tener una idea clara de quien soy pero si puedo responder otra preguntas más simples como ¿a qué me dedico?¿que música me gusta?  ¿cuáles son mis sueños, mi cosmovisión? y bueno, básicamente este es el objetivo de este canal, presentarme.
    
    La verdad no tengo muchas expectativas con respecto a este canal porque creo que más que ser un canal para el mundo, es un espacio para mi, es un lugar donde de alguna me obligo a poner en orden mis ideas y bueno, pues compartir como yo organizo mi vida.
    
    Así que nada, la idea es que eventualmente ire subiendo videos y hay me irán “conociendo”. 
    Muchas gracias. Hasta Luego</p>
